<!doctype html>
<html lang="en" ng-app="cookbook">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Jan van Rooyen</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/cookbook.css" />
    <link rel="stylesheet" href="ps/photoswipe.css">
    <link rel="stylesheet" href="ps/default-skin/default-skin.css">
    <%- include ../googletrack.ejs %>
  </head>
    <body ng-cloak>
  	  <div ng-include="'/navigation'"></div>
        <div class="container">
          <div ng-controller="CookBookListCtrl">
            <div class="row">
              <h1 class="text-center">Ouma's CookBook</h1>
            </div class="row">
            <div class="row">
              <div class="col-sm-12 text-center">
                <h3>Search: <input type="text" ng-model="search"></h3>
              </div>
            </div>
            <div class="row row-margin text-center">
              <div class="dropdown">
                <button type="button" class="btn btn-primary btn-lg cookbookbrowsebutton dropdown-toggle" data-toggle="dropdown" ng-click="showEntree = false; showDessert=false; showSalad=false; showSides=false; showPasta=false; showSoup=false; showPie=false; showSauce=false">Browse <span class="glyphicon glyphicon-triangle-bottom floatright"></span></button>
                <ul class="dropdown-menu cookbookdropdowns">
                  <li class="cookbookdropdown_li" ng-click="showEntree = ! showEntree; showDessert=false; showSalad=false; showSides=false; showPasta=false; showSoup=false; showPie=false; showSauce=false">Entree</li>
                  <li class="cookbookdropdown_li" ng-click="showDessert = ! showDessert; showEntree=false; showSalad=false; showSides=false; showPasta=false; showSoup=false; showPie=false; showSauce=false">Dessert</li>
                  <li class="cookbookdropdown_li" ng-click="showSalad = ! showSalad; showEntree=false; showDessert=false; showSides=false; showPasta=false; showSoup=false; showPie=false; showSauce=false">Salad</li>
                  <li class="cookbookdropdown_li" ng-click="showSides = ! showSides; showEntree=false; showDessert=false; showSalad=false; showPasta=false; showSoup=false; showPie=false; showSauce=false">Sides<li>
                  <li class="cookbookdropdown_li" ng-click="showPasta = ! showPasta; showEntree=false; showDessert=false; showSalad=false; showSides=false; showSoup=false; showPie=false; showSauce=false">Pasta</li>
                  <li class="cookbookdropdown_li" ng-click="showSoup = ! showSoup; showEntree=false; showDessert=false; showSalad=false; showSides=false; showPasta=false; showPie=false; showSauce=false">Soup</li>
                  <li class="cookbookdropdown_li" ng-click="showPie = ! showPie; showEntree=false; showDessert=false; showSalad=false; showSides=false; showPasta=false; showSoup=false; showSauce=false">Pie</li>
                  <li class="cookbookdropdown_li" ng-click="showSauce = ! showSauce; showEntree=false; showDessert=false; showSalad=false; showSides=false; showPasta=false; showSoup=false; showPie=false">Sauce</li>
                </ul>
              </div>


            </div>
            <div class="row row-margin cookbookbuttons">
              <div class="col-sm-3">
                <button type="button" class="btn btn-primary btn-lg btn-block" ng-click="showEntree = ! showEntree; showDessert=false; showSalad=false; showSides=false; showPasta=false; showSoup=false; showPie=false; showSauce=false">Entree</button>
                <p></p>
              </div>
              <div class="col-sm-3">
                <button type="button" class="btn btn-primary btn-lg btn-block" ng-click="showDessert = ! showDessert; showEntree=false; showSalad=false; showSides=false; showPasta=false; showSoup=false; showPie=false; showSauce=false">Dessert</button>
              </div>
              <div class="col-sm-3">
                <button type="button" class="btn btn-primary btn-lg btn-block" ng-click="showSalad = ! showSalad; showEntree=false; showDessert=false; showSides=false; showPasta=false; showSoup=false; showPie=false; showSauce=false">Salad</button>
              </div>
              <div class="col-sm-3">
                <button type="button" class="btn btn-primary btn-lg btn-block" ng-click="showSides = ! showSides; showEntree=false; showDessert=false; showSalad=false; showPasta=false; showSoup=false; showPie=false; showSauce=false">Sides</button>
              </div>
            </div>
            <div class="row row-margin cookbookbuttons">
              <div class="col-sm-3">
                <button type="button" class="btn btn-primary btn-lg btn-block" ng-click="showPasta = ! showPasta; showEntree=false; showDessert=false; showSalad=false; showSides=false; showSoup=false; showPie=false; showSauce=false">Pasta</button>
              </div>
              <div class="col-sm-3">
                <button type="button" class="btn btn-primary btn-lg btn-block" ng-click="showSoup = ! showSoup; showEntree=false; showDessert=false; showSalad=false; showSides=false; showPasta=false; showPie=false; showSauce=false">Soup</button>
              </div>
              <div class="col-sm-3">
                <button type="button" class="btn btn-primary btn-lg btn-block" ng-click="showPie = ! showPie; showEntree=false; showDessert=false; showSalad=false; showSides=false; showPasta=false; showSoup=false; showSauce=false">Pie</button>
              </div>
              <div class="col-sm-3">
                <button type="button" class="btn btn-primary btn-lg btn-block" ng-click="showSauce = ! showSauce; showEntree=false; showDessert=false; showSalad=false; showSides=false; showPasta=false; showSoup=false; showPie=false">Sauce</button>
              </div>
            </div>
            <div class="row row-margin">
              <div class="col-sm-3 text-center"> <!-- Start Left Column -->
                <div ng-show="(filteredData = (item | filter:search)) && filteredData.length >= 1 && search && search.length >= 0">
                  <h2>Search Results:</h2>
                  <div ng-repeat="z in filteredData">
                    <div ng-click="openPhotoSwipe(z.page)">
                      <a>{{z.name}}</a>
                    </div>
                  </div>
                </div>
                <div ng-class="{ 'hidden': ! showEntree }">
                  <h2>Entree</h2>
                  <div ng-repeat="x in item | filter: 'Entree' | orderBy:'name'">
                    <div ng-click="openPhotoSwipe(x.page)">
                      <a>{{x.name}}</a>
                    </div>
                  </div>
                </div>
                <div ng-class="{ 'hidden': ! showDessert }">
                  <h2>Dessert</h2>
                  <div ng-repeat="x in item | filter: 'Dessert' | orderBy:'name'">
                    <div ng-click="openPhotoSwipe(x.page)">
                      <a>{{x.name}}</a>
                    </div>
                  </div>
                </div>
                <div ng-class="{ 'hidden': ! showSalad }">
                  <h2>Salad</h2>
                  <div ng-repeat="x in item | filter: 'Salad' | orderBy:'name'">
                    <div ng-click="openPhotoSwipe(x.page)">
                      <a>{{x.name}}</a>
                    </div>
                  </div>
                </div>
                <div ng-class="{ 'hidden': ! showSides }">
                  <h2>Sides</h2>
                  <div ng-repeat="x in item | filter: 'Sides' | orderBy:'name'">
                    <div ng-click="openPhotoSwipe(x.page)">
                      <a>{{x.name}}</a>
                    </div>
                  </div>
                </div>
                <div ng-class="{ 'hidden': ! showPasta }">
                  <h2>Pasta</h2>
                  <div ng-repeat="x in item | filter: 'Pasta' | orderBy:'name'">
                    <div ng-click="openPhotoSwipe(x.page)">
                      <a>{{x.name}}</a>
                    </div>
                  </div>
                </div>
                <div ng-class="{ 'hidden': ! showSoup }">
                  <h2>Soup</h2>
                  <div ng-repeat="x in item | filter: 'Soup' | orderBy:'name'">
                    <div ng-click="openPhotoSwipe(x.page)">
                      <a>{{x.name}}</a>
                    </div>
                  </div>
                </div>
                <div ng-class="{ 'hidden': ! showPie }">
                  <h2>Quiche and Pie</h2>
                  <div ng-repeat="x in item | filter: 'Quiche Pie' | orderBy:'name'">
                    <div ng-click="openPhotoSwipe(x.page)">
                      <a>{{x.name}}</a>
                    </div>
                  </div>
                </div>
                <div ng-class="{ 'hidden': ! showSauce }">
                  <h2>Sauce</h2>
                  <div ng-repeat="x in item | filter: 'Sauce' | orderBy:'name'">
                    <div ng-click="openPhotoSwipe(x.page)">
                      <a>{{x.name}}</a>
                    </div>
                  </div>
                </div>
              </div> <!--End Left Column-->
              <div class="col-sm-9 row-margin">
                <div ng-click="openPhotoSwipe(0)">
                  <img src="img/cookbook/viewcookbook.jpg" class="img-responsive">
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- PhotoSwipe -->
      <!-- Root element of PhotoSwipe. Must have class pswp. -->
      <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

          <!-- Background of PhotoSwipe.
               It's a separate element, as animating opacity is faster than rgba(). -->
          <div class="pswp__bg"></div>

          <!-- Slides wrapper with overflow:hidden. -->
          <div class="pswp__scroll-wrap">

              <!-- Container that holds slides. PhotoSwipe keeps only 3 slides in DOM to save memory. -->
              <div class="pswp__container">
                  <!-- don't modify these 3 pswp__item elements, data is added later on -->
                  <div class="pswp__item"></div>
                  <div class="pswp__item"></div>
                  <div class="pswp__item"></div>
              </div>

              <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
              <div class="pswp__ui pswp__ui--hidden">

                  <div class="pswp__top-bar">

                      <!--  Controls are self-explanatory. Order can be changed. -->

                      <div class="pswp__counter"></div>

                      <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>

                      <button class="pswp__button pswp__button--share" title="Share"></button>

                      <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>

                      <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

                      <!-- Preloader demo http://codepen.io/dimsemenov/pen/yyBWoR -->
                      <!-- element will get class pswp__preloader--active when preloader is running -->
                      <div class="pswp__preloader">
                          <div class="pswp__preloader__icn">
                            <div class="pswp__preloader__cut">
                              <div class="pswp__preloader__donut"></div>
                            </div>
                          </div>
                      </div>
                  </div>

                  <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                      <div class="pswp__share-tooltip"></div>
                  </div>

                  <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
                  </button>

                  <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
                  </button>

                  <div class="pswp__caption">
                      <div class="pswp__caption__center"></div>
                  </div>

                </div>

              </div>
        </div>      <!-- End PhotoSwipe-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="js/cookbook.js"></script>
    <script src="ps/photoswipe.js"></script>
    <script src="ps/photoswipe-ui-default.min.js"></script>
  </body>
</html>
