<!doctype html>
<html lang="en" ng-app="mean">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Jens E-Portfolio</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/jensite.css" />
    <%- include ../googletrack.ejs %>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-100827688-1"></script>

  </head>
    <body>
      <div ng-include="'/jensite/jennavigation'"></div>
      <div class="container">
        <div class="bg-big">
        </div>
        <div class=""> <!--Main Content-->
          <div class="row"> <!--About -->
            <div class="col-sm-12">
            <h1>Welcome to my e-portfolio!</h1>
            <h2><p>This portfolio was put together in order to display my projects I created for a course I completed during the Spring 2020 at the University of Nebraska at Omaha, TED 8860 Invention and Innovation in Engineering Education. The course was broken up into three sections: Robotics, Single Board Microcontrollers, and High-Altitude Ballooning. I invite you to explore my tabs and see some of the curricular lessons I created in order to integrate Engineering into my High School Science classroom.</p></h2>
            </div>
          </div>
          <div class ="row">
            <div class ="col-sm-6">
              <div class="row">
                <img class="img-responsive" src="img/jensite/STEM.JPG">
              </div>
            </div>
            <div class="col-sm-6">
              <h2>Philosophy of Teaching</h2>
              <p>
                I want to help cultivate young minds, not only in the area of science, but in the larger realm of helping them to become contributing members of society. Scientific literacy is more important now, than it ever has been. In order to be a contributing member of society I think the ability to critically analyze information is crucial. Too often science is viewed as too complicated; I want to help ensure that my students have a solid science foundation from which to draw upon.
              </p>
              <h2>STEM Education</h2>
              <p>
              Science education is drastically changing; gone are the days of rote memorization, regurgitation of facts, and recipe-style labs. An emphasis on integrating Technology, Engineering, and Math resulting in STEM Education is the new future. By integrating all the disciplines, we are creating a more holistic approach and increasing our learner’s ability to logically think through problems; using facts and other tools to solve a problem or critically evaluate conclusions presented to them. My goal for the lessons outlined on this site are to provide tangible examples of STEM lessons that I created in order to offer my students a more holistic approach to Science education by pulling in Technology, Engineering-design process, and Mathematical computations.
              </p>
            </div>
            </div>
            <div class ="row">
              <div class="col-sm-6">
                <a href="/jensite/rubric"><h2>Nebraska STEM Instruction Resource Evaluation Rubric</h2></a>
                <p>
                  At the conclusion of each unit I evaluated my lessons against the Nebraska STEM Instruction Resource Evaluation Rubric. By using this rubric, I was able to critically analyze my lessons based on four criteria:
                    <ol>
                      <li>How does the resource promote the understanding of concepts across content areas?</li>
                      <li>How does the resource promote the acquisition of proficiency toward a recognized, grade-appropriate standard?</li>
                      <li>How does the resource give the learner first-hand experience?</li>
                      <li>How does the resource promote critical thinking, creativity, collaboration, and communication (4C) skills through STEM Skills in a school-based, work-based, family-based, or community-based application?</li>
                    </ol>
                  Each of my lessons will describe in detail whether it ‘Models Excellence’, ‘Meets’, or ‘Does Not Meet’ the questions above.
                </p>
              </div>
              <div class="col-sm-6">
                <a href="/jensite/rubric"><img class="img-responsive" src="img/jensite/rubric.jpg" alt="NDE-STEM-Resource-Rubric"></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
 <!--   <script src="js/vendor/what-input.min.js"></script> -->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="js/app.js"></script>
  </body>
</html>
