<!doctype html>
<nav class="navbar navbar-inverse navigation" ng-cloak>
  <div class="container-fluid">
      <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/jensite">Jen's E-Portfolio</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/jensite/robotics">Robotics Challenge</a></li>
        <li><a href="/jensite/singleboard">Single Board Micro Controller</a></li>
        <li><a href="/jensite/highaltitude">High Altitude Balloon Challenge</a></li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">My Work<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/jensite">Home</a></li>
            <li><a href="/jensite/robotics">Robotics Challenge</a></li>
            <li><a href="/jensite/singleboard">Single Board Micro Controller Challenge</a></li>
            <li><a href="/jensite/highaltitude">High Altitude Ballon Challenge</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
