<!doctype html>
<html lang="en" ng-app="mean">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Jens Site Title Goes Here</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../css/jensite.css" />
    <%- include ../googletrack.ejs %>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-100827688-1"></script>

  </head>
    <body>
      <div ng-include="'/jensite/jennavigation'"></div>
      <div class="container">
        <img class="img-responsive" src="../img/jensite/rubric.jpg" alt="NDE-STEM-Resource-Rubric">
      </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
 <!--   <script src="js/vendor/what-input.min.js"></script> -->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="../js/app.js"></script>
  </body>
</html>
