    test
    <div class="container" ng-controller="Gallery">
      <div class="row">
        <div ng-repeat="(x, y) in slides">
          <div class="col-md-3">
            <a data-toggle="modal" data-target="#myCarousel">
            <img ng-src="{{y.url}}" alt="{{y.alt}}" title="{{y.title}}" class="img-thumbnail img-responsive">
            </a>
          </div>
        </div>
      </div>
    </div>
        <!-- Modal -->
    <div id="myCarousel" class="modal fade carousel slide" data-ride="carousel" role="dialog" ng-controller="Gallery">
     <div class="modal-dialog">
      <!--Modal Content-->
      <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Test Modal Header Title</h4>
          </div>
          <div class="modal-body">
                <!--images-->
                <div class="carousel-inner" role="listbox" ng-repeat="slide in slides">  
                  <div class="item" ng-class="{'active': $index == currentIndex}"> 
                    <img ng-src="{{slide.url}}" class="img-responsive">
                  </div>
                </div> <!--.carousel-inner -->
                <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev" ng-click="setIndex(currentIndex-1)">
                  <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next" ng-click="setIndex(currentIndex+1)">
                  <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a> 
          </div> <!-- .modal-body-->
      </div> <!-- .modal-content -->
         <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="setIndex(0)">Close</button>
          </div>
    </div>  <!-- .modal-dialog -->
    </div>  <!-- .modal -->
