      <div class="carousel-inner" role="listbox" ng-repeat="slide in childsplay">  
        <div class="item" ng-class="{'active': $index == currentIndex}">
          <img ng-src="{{slide.url}}" class="img-responsive">
        </div>
      </div> <!--.carousel-inner -->
