<!doctype html>
<html lang="en" ng-app="familytree">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Jan van Rooyen</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/familytree.css" />
    <%- include ../googletrack.ejs %>
  </head>
    <body>
    <div ng-include="'/navigation'"></div>
    <div class="container-fluid">
      <a class="carousel-control left" href="/familytree/cilliers_niehaus_family_scrapbook-35" data-spy="affix" data-offset-top="205">
        <span class="glyphicon glyphicon-chevron-left nav_arrows"></span>
      </a>
      <a class="carousel-control right" href="/familytree/cilliers_niehaus_family_scrapbook-37" data-spy="affix" data-offset-top="205">
        <span class="glyphicon glyphicon-chevron-right nav_arrows"></span>
      </a>
      <img src="img/familytree/title/cilliers_niehaus_family_scrap_book-36.jpg" class="img-responsive"> 
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="js/vendor/what-input.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="js/familytree.js"></script>
  </body>
</html>