<!doctype html>
<div ng-controller="FindRecipeController" ng-cloak>
  <div>
      <div class="row">
        <div class="col-md-12">
          <form>
            <div class="form-group">
              <input type="text" class="form-control input-lg" ng-model="search" placeholder="Find a Recipe" defaultValue=""/>
            </div>
          </form>
        </div>
      </div>
      <div>
        <div class="row">        
          <div ng-repeat="message in messages | filter:search" ng-if="Title">
              <div class="col-md-4">
                <div class="col-md-12" ng-click="setRecipe(message)">
                  <div class="ingredient-list recipe-grid">{{message.title}}</div>
                </div>
              </div>
          </div>
        </div>
      </div>
  </div>
</div>
