<!doctype html>
<html lang="en" ng-app="gallery">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>janvanrooyen.com</title>
    <link rel="stylesheet" href="css/bootstrap.min.css" /> -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/app.css" />
    <%- include googletrack.ejs %>
    <link rel="stylesheet" href="ps/photoswipe.css">
    <link rel="stylesheet" href="ps/default-skin/default-skin.css">  
  </head>
  <body ng-cloak class="bg-gallery">  
    <div ng-include="'/navigation'"></div>
    <div class="container jumbotron" ng-controller="Modal">
      <div class="row">
        <div class="col-md-4" ng-click="openPhotoSwipe('BW')">
          <a><img src ="img/portfolio/bw/bw_15.jpg" class="img-thumbnail img-responsive" alt="BW Gallery">
          <h2 class="text-center">Black and White</h2></a>
        </div>
        <div class="col-md-4" ng-click="openPhotoSwipe('nature')">
          <a><img src="img/portfolio/nature/nature_13.jpg" class="img-thumbnail img-responsive" alt="Wonders of the Natural World">
          <h2 class="text-center">Natural World</h2></a>
        </div>
        <div class="col-md-4" ng-click="openPhotoSwipe('randoms')">
          <a><img src ="img/portfolio/randoms/randoms_3.jpg" class="img-thumbnail img-responsive" alt="Many Lines Gallery">
          <h2 class="text-center">Out and About</h2></a>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4" ng-click="openPhotoSwipe('butterflies')">
          <a><img src ="img/portfolio/butterflies/butterflies_4.jpg" class="img-thumbnail img-responsive" alt="BW Gallery">
          <h2 class="text-center">Buttefly Obsession</h2></a>
        </div>
        <div class="col-md-4" ng-click="openPhotoSwipe('eveningglow')">
          <a><img src ="img/portfolio/eveningglow/eveningglow_5.jpg" class="img-thumbnail img-responsive" alt="BW Gallery">
          <h2 class="text-center">Night Lights</h2></a>
        </div>
        <div class="col-md-4" ng-click="openPhotoSwipe('hotair')">
          <a><img src ="img/portfolio/hotair/hotair_1.jpg" class="img-thumbnail img-responsive" alt="BW Gallery">
          <h2 class="text-center">Full of Hot Air</h2></a>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4" ng-click="openPhotoSwipe('puertorico')">
          <a><img src ="img/portfolio/puertorico/puertorico_15.jpg" class="img-thumbnail img-responsive" alt="BW Gallery">
          <h2 class="text-center">Puerto Rico</h2></a>
        </div>
        <div class="col-md-4" ng-click="openPhotoSwipe('zooshots')">
          <a><img src ="img/portfolio/zooshots/zooshots_9.jpg" class="img-thumbnail img-responsive" alt="BW Gallery">
          <h2 class="text-center">Omaha's Zoo</h2></a>
        </div>
      </div>
    </div>  
    <!-- PhotoSwipe -->
    <!-- Root element of PhotoSwipe. Must have class pswp. -->
    <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

        <!-- Background of PhotoSwipe. 
             It's a separate element, as animating opacity is faster than rgba(). -->
        <div class="pswp__bg"></div>

        <!-- Slides wrapper with overflow:hidden. -->
        <div class="pswp__scroll-wrap">

            <!-- Container that holds slides. PhotoSwipe keeps only 3 slides in DOM to save memory. -->
            <div class="pswp__container">
                <!-- don't modify these 3 pswp__item elements, data is added later on -->
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
            </div>

            <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
            <div class="pswp__ui pswp__ui--hidden">

                <div class="pswp__top-bar">

                    <!--  Controls are self-explanatory. Order can be changed. -->

                    <div class="pswp__counter"></div>

                    <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>

                    <button class="pswp__button pswp__button--share" title="Share"></button>

                    <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>

                    <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

                    <!-- Preloader demo http://codepen.io/dimsemenov/pen/yyBWoR -->
                    <!-- element will get class pswp__preloader--active when preloader is running -->
                    <div class="pswp__preloader">
                        <div class="pswp__preloader__icn">
                          <div class="pswp__preloader__cut">
                            <div class="pswp__preloader__donut"></div>
                          </div>
                        </div>
                    </div>
                </div>

                <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                    <div class="pswp__share-tooltip"></div> 
                </div>

                <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
                </button>

                <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
                </button>

                <div class="pswp__caption">
                    <div class="pswp__caption__center"></div>
                </div>

              </div>

            </div>

    </div>      <!-- End PhotoSwipe-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script> 
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="js/gallery.js"></script>
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-1.3.3.js"></script>
    <script src="ps/photoswipe.js"></script> 
    <script src="ps/photoswipe-ui-default.min.js"></script> 
  </body>
</html>
