<!doctype html>
<html lang="en" ng-app="mean">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Jan van Rooyen</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/app.css" />
  </head>
    <body>
  	  <div ng-include="'/navigation'"></div>

      <div class="container">

        <div class="bg-big">
          <div class="center-block center-display">
            <div class="row center-display-text-top">
              <div class="col-sm-12"><span class="glyphicon glyphicon glyphicon-picture home-icon-mountain"></span></div>
            </div>
            <div class="row center-display-text">
              <div class="col-sm-6"><span class="glyphicon glyphicon-grain home-icon-grain"></span></div>
              <div class="col-sm-6"><span class="glyphicon glyphicon-tree-deciduous home-icon-tree"></span></div>
            </div>
            <div class="row center-display-text">
              <div class="col-sm-12"></div>
            </div>
          </div>

        </div>

          <!--<h1></h1>
          <div id="circle" class="center-block">
            <a href="/recipes"><div id="q1" class="quarter"></div></a>
            <a href="/gallery"><div id="q2" class="quarter"></div></a>
            <div id="q3" class="quarter"></div>
            <a href="/familytree"><div id="q4" class="quarter"></div></a>
          </div> -->
      </div>
    <!--<script src="js/vendor/jquery.min.js"></script> -->
    <!--<script src="js/vendor/what-input.min.js"></script> -->
    <!--<script src="js/vendor/angular.js"></script> -->
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
 <!--   <script src="js/vendor/what-input.min.js"></script> -->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="js/app.js"></script>
  </body>
</html>
